.mainGameContainer{
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.Game{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
