$border_size: 4px;
$alpha: 0.8;

plateau {
    margin: 10px;
}

ligne {
    display: block;
}

tuile {
    margin: 10px;
    height: 100px;
    width: 100px;
    border: solid black 1px;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

tuile > p{
    font-size: 40px;
    align-self: center;
    margin: 0;
}

/*region tuile colors*/
.tuile-0 {
    background-color: rgba(246,205,5,$alpha);
    border: solid $border_size #F9CD05;
}
.tuile-2 {
    background-color: rgba(219,159,4,$alpha);
    border: solid $border_size #E3A407;
}
.tuile-4 {
    background-color: rgba(243,156,18,$alpha);
    border: solid $border_size #FD9E08;
}
.tuile-8 {
    background-color: rgba(219,109,4,$alpha);
    border: solid $border_size #E67205;
}
.tuile-16 {
    background-color: rgba(249,88,5,$alpha);
    border: solid $border_size #FE5A05;
}
.tuile-32 {
    background-color: rgba(227,48,7,$alpha);
    border: solid $border_size #E83107;
}
.tuile-64 {
    background-color: rgba(253,18,8,$alpha);
    border: solid $border_size #FF1208;
}
.tuile-128 {
    background-color: rgba(230,5,91,$alpha);
    border: solid $border_size #E8055C;
}
.tuile-256 {
    background-color: rgba(254,5,225,$alpha);
    border: solid $border_size #FF05E2;
}
.tuile-512 {
    background-color: rgba(185,7,232,$alpha);
    border: solid $border_size #B907E8;
}
.tuile-1024 {
    background-color: rgba(136,8,255,$alpha);
    border: solid $border_size #8808FF;
}
.tuile-2048 {
    background-color: rgba(60,5,232,$alpha);
    border: solid $border_size #3C05E8;
}
.tuile-4096 {
    background-color: rgba(5,12,255,$alpha);
    border: solid $border_size #050CFF;
}
.tuile-8192 {
    background-color: rgba(7,74,232,$alpha);
    border: solid $border_size #074AE8;
}



/*endregion tuile colors*/

.controls-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    height: 200px;
    width: 300px;
}

.control-up {
    grid-column: 2;
    grid-row: 1;
}
.control-down {
    grid-column: 2;
    grid-row: 2;
}
.control-left {
    grid-column: 1;
    grid-row: 2;
}
.control-right {
    grid-column: 3;
    grid-row: 2;
}

[class^="control-"] > input {
    height: 100%;
    font-size: xxx-large;
}